<p id="notice"><%= notice %></p>

<h1><%= t('views.person.index.title') %></h1>

<%= link_to t('views.person.index.new'), sti_person_path(@type, nil, :new) %>

<table>
  <thead>
    <tr>
      <th><%= Person.human_attribute_name(:id) %></th>
      <th><%= Person.human_attribute_name(:fullname) %></th>
      <th><%= Person.human_attribute_name(:phone_numbers) %></th>
      <th><%= Person.human_attribute_name(:created_at) %></th>
      <th><%= Person.human_attribute_name(:updated_at) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person_fullname(person) %></td>
        <td><%= person.phone_numbers %></td>
        <td><%= person.created_at %></td>
        <td><%= person.updated_at %></td>
        <td><%= link_to t('views.show'), sti_person_path(person.type, person) %></td>
        <td><%= link_to t('views.edit'), sti_person_path(person.type, person, :edit) %></td>
        <td><%= link_to t('views.destroy'), sti_person_path(person.type, person), method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
