<p id="notice"><%= notice %></p>

<h1><%= "#{@type.pluralize.capitalize}" %></h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Middle name</th>
      <th>Phone numbers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.type %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.middle_name %></td>
        <td><%= person.phone_numbers %></td>
        <td><%= link_to 'Show', sti_person_path(person.type, person) %></td>
        <td><%= link_to 'Edit', sti_person_path(person.type, person, :edit) %></td>
        <td><%= link_to 'Destroy', sti_person_path(person.type, person), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New #{@type}", sti_person_path(@type, nil, :new) %>
