<%= form_with(model: street, url: [city, street], local: true) do |form| %>
  <% if street.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', model: Street.model_name.human, count: street.errors.count) %></h2>

      <ul>
      <% street.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :street_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
