<%= form_with(model: street, local: true) do |form| %>
  <% if street.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(street.errors.count, "error") %> prohibited this street from being saved:</h2>

      <ul>
      <% street.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city %>
    <%= form.select :city, City.all.map { |c| [c.name, c.id] }, { selected: @street.city_id }, disabled: action == :put %>

    <% if action == :put %>
      <%= form.hidden_field :city, value: @street.city.id %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :street_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
