<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @street.name %>
</p>

<%= link_to 'Edit', edit_city_street_path(@city, @street) %> |
<%= link_to 'Back', city_streets_path(@city) %>
