<%= form_with(model: estate_type, local: true) do |form| %>
  <% if estate_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', model: EstateType.model_name.human, count: estate_type.errors.count) %></h2>

      <ul>
      <% estate_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :estate_type_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
