<p id="notice"><%= notice %></p>

<h1>Estate Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estate_types.each do |estate_type| %>
      <tr>
        <td><%= estate_type.name %></td>
        <td><%= link_to 'Show', estate_type %></td>
        <td><%= link_to 'Edit', edit_estate_type_path(estate_type) %></td>
        <td><%= link_to 'Destroy', estate_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estate Type', new_estate_type_path %>
