<p id="notice"><%= notice %></p>

<p>
  <strong><%= EstateType.human_attribute_name(:name) %>:</strong>
  <%= @estate_type.name %>
</p>

<p>
  <strong><%= EstateType.human_attribute_name(:created_at) %>:</strong>
  <%= @estate_type.created_at %>
</p>

<p>
  <strong><%= EstateType.human_attribute_name(:updated_at) %>:</strong>
  <%= @estate_type.updated_at %>
</p>

<%= link_to t('views.edit'), edit_estate_type_path(@estate_type) %> |
<%= link_to t('views.back'), estate_types_path %>
