<p id="notice"><%= notice %></p>

<h1><%= t('views.city.index.title') %></h1>

<%= link_to t('views.city.index.new'), new_city_path %>

<table>
  <thead>
    <tr>
      <th><%= City.human_attribute_name(:id) %></th>
      <th><%= City.human_attribute_name(:name) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.id %></td>
        <td><%= city.name %></td>
        <td><%= link_to t('views.show'), city %></td>
        <td><%= link_to t('views.edit'), edit_city_path(city) %></td>
        <td><%= link_to t('views.destroy'), city, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
