<p id="notice"><%= notice %></p>

<h1>Estate Materials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estate_materials.each do |estate_material| %>
      <tr>
        <td><%= estate_material.name %></td>
        <td><%= link_to 'Show', estate_material %></td>
        <td><%= link_to 'Edit', edit_estate_material_path(estate_material) %></td>
        <td><%= link_to 'Destroy', estate_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estate Material', new_estate_material_path %>
